body {
  color: white;
  background-color: #FF19B7;
  text-shadow: 2px 2px black;
}

input {
  color: black;
}

button {
  margin: 10px;
}

.jumbotron {
  background-color: #B2007A;
  text-align: center;
}

.results .single-result{
  margin: 10px;
  background-color: #2BB216;
  border: solid #2BB216 10px; 
  border-radius: 20px;
  box-shadow: 5px 5px black;
}

.single-result h3 {
  background-color: #FF00AF;
  border: solid #FF00AF;
  border-radius: 15px;
}

.single-result li {
  text-align: left;
}